.forms {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 50px;
    font-weight: 100;
  }
.forms2 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    font-weight: 200;
  }